.grey {
  color: grey;
}

.link {
  cursor: pointer;
}

.justify {
  text-align: justify;
}

.secondary {
  color: rgba(0, 0, 0, 0.54);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.centered-block {
  text-align: center;
  margin-top: 10vh;
}
