.example-card {
  width: 200px;
}

.selected-item {
  background-color: #6495ED;
}

.custom-height {
  height: 100vh;
}

.locked-item {
  background-color: #B2B2B2;
}

.my-card-img {
  width: 200px !important;
  height: 200px !important;
}
