<md-card-title>Account information</md-card-title>
<md-chip-list *ngIf="formSuccess" class="alert alert-success" ng-show="false">
  <md-chip color="success" selected="true">
    <strong>{{formSuccess.title}}: </strong>{{formSuccess.description}}
  </md-chip>
</md-chip-list>
<div *ngIf="hasErrors" class="alert alert-danger" ng-show="false">
  <md-chip-list *ngFor="let error of formErrors">
    <md-chip color="warn" selected="true">
      <strong>{{error.title}}: </strong>{{error.description}}
    </md-chip>
  </md-chip-list>
</div>
<form (ngSubmit)="submit()" #profilePasswordForm="ngForm" ngNativeValidate>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput type="password" placeholder="Current password"
             required [(ngModel)]="formObject.current_password" #current_password="ngModel"
             [ngModelOptions]="{standalone: true}" title="current_password"/>
    </md-input-container>
  </div>
  <div layout="row" layout-margin>
    <md-input-container flex>
      <input mdInput type="password" placeholder="New password"
             required [(ngModel)]="formObject.new_password" #new_password="ngModel"
             [ngModelOptions]="{standalone: true}" title="new_password"/>
    </md-input-container>
  </div>
  <button type="submit" md-raised-button color="accent">Update password</button>
</form>